__pycache__/
*.py[cod]
*.so

.Python
env/
/bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

challenges
node_modules
package-lock.json
package.json
instance
